* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
  /* Until here can be a good default
  for etting up stylesheets. It gets rid of eventual margins, paddings
  and makes size calculations easier since elements don't grow to the outside but aplly
  changes to inside in size.*/
  /* font-size: 10px;
  border: solid black 1px; */
}

h1,
nav,
ul {
  display: inline;
}

body {
  margin-left: 10px;
}

h1 {
  font-size: 3rem;
  margin: 10px;
  color: darkred;
}

header {
  position: fixed;
  top: 5px;
  left: 10px;
  background-color: blanchedalmond;
  border-radius: 5px;
}

h2 {
  margin: 10px;
  color: rgb(170, 48, 3);
}

figcaption {
  margin-left: 20px;
  font-style: italic;
  font-size: 0.8rem;
}

section {
  width: 750px;
}

.flex-container {
  display: flex;
  gap: 10px;
  margin-top: 80px;
}

.nav {
  text-decoration: none;
  color: orangered;
  font-weight: bold;
  margin-inline: 5px;
}

.links:hover {
  background-color: beige;
  border-radius: 10%;
  font-size: 120%;
}

.logos {
  height: 200px;
  margin-inline: 10px;
  margin-top: 20px;
  border-radius: 50%;
}

.logos:hover {
  height: 220px;
}
.firstLine {
  font-weight: bold;
  background-color: rgb(253, 153, 116);
  border-radius: 5px;
  padding: 2px;
  list-style-type: none;
}

ul ul {
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
}

.secLine {
  display: inline;
  background-color: beige;
  padding: 2px;
  margin: 2px;
  border-radius: 5px;
}

.myFoto {
  width: 300px;
  border-radius: 20px;
}
.hobbiesAndLang {
  display: inline;
}
.contact {
  margin-top: 20px;
  font-weight: bold;
}
.year {
  font-weight: bold;
  padding-right: 20px;
}
